<div class='contents'>
  <div class='contents-about'>
    <h1>About me</h1>
    <h2 class='contents-about-title'>自己紹介</h2>
    <p class='contents-about-text'>
      2000年 3月 22日 生まれ<br>
      都立新宿高校から明治大学理工学部に進学<br>
      今に至る
    </p>
    <h2 class='contents-about-title'>スキル</h2>
    <p class='contents-about-text'>
      Ruby on Rails : インターンで2019年4月から業務で使用
                      このサイトもこのフレームワークを使用している<br><br>
      HTML, CSS, SCSS : 上記と同様<br><br>
      Python : 参考書を使い、修得。CSVに読み書きする会計アプリ(下記Git Hub参照)や
               webスクレイピングをさせるアプリの作成<br><br>
      C : 参考書を使い、基礎を修得<br><br>
    </p>
    <h2 class='contents-about-title'>外部リンク</h2>
    <p class='contents-about-text'>
      Git Hub のリンク :
      <%= link_to 'Git Hub', 'https://github.com/kaji-hiro'%>
    </p>
  </div>
</div>
