<div class='contents'>
  <div class='contents-home'>
    <h1>ポートフォリオへようこそ</h1>
    <div class='contents-home-links'>
      <%= link_to 'Contact', static_pages_contact_path, class: 'contents-home-links-item'%>
      <%= link_to 'About', static_pages_about_path, class: 'contents-home-links-item'%>
    </div>
  </div>
</div>
